name: "fusiondata"

services:
  db:
    build:
      context: ./scripts/software/postgres
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - ./scripts/.env
    volumes:
      - fusiondata-pg-data:/var/lib/postgresql/data
    networks:
      - fusiondata
    ports:
      - "45432:45432"
  # jaeger:
  #   image: jaegertracing/all-in-one:latest
  #   restart: unless-stopped
  #   networks:
  #     - fusiondata
  #   environment:
  #     - COLLECTOR_ZIPKIN_HOST_PORT=:9411
  #   ports:
  #     - 6831:6831/udp
  #     - 6832:6832/udp
  #     - 5778:5778
  #     - 16686:16686
  #     - 4317:4317
  #     - 4318:4318
  #     - 14250:14250
  #     - 14268:14268
  #     - 14269:14269
  #     - 9411:9411

networks:
  fusiondata:

volumes:
  fusiondata-pg-data:
