[package]
name = "fusion-security"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
description.workspace = true
license.workspace = true
repository.workspace = true
authors.workspace = true
publish = true

[lints]
workspace = true

[[example]]
name = "github-async"
path = "examples/github-async.rs"
required-features = ["with-oauth"]

[[example]]
name = "example-oauth2-gitee"
path = "examples/example-oauth2-gitee.rs"
required-features = ["with-oauth"]

[[example]]
name = "example-oauth2-github"
path = "examples/example-oauth2-github.rs"
required-features = ["with-oauth"]


[features]
default = ["with-uuid"]
with-uuid = ["fusion-common/with-uuid", "fusion-core/with-uuid"]
with-jwt = ["josekit"]
with-oauth = ["with-jwt", "dep:oauth2"]
with-openid = ["with-jwt", "dep:openidconnect"]

[dependencies]
fusion-common = { workspace = true }
fusion-core = { workspace = true }
url = { workspace = true }
tokio = { workspace = true }
josekit = { workspace = true, optional = true }
serde = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }
oauth2 = { workspace = true, optional = true }
openidconnect = { workspace = true, optional = true }
reqwest = { workspace = true }

[dev-dependencies]
dotenvy = { workspace = true }
