[package]
name = "ultimate-grpc"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
description.workspace = true
license.workspace = true
repository.workspace = true

[lints]
workspace = true

[features]
uuid = ["dep:uuid", "ultimate/uuid"]

[dependencies]
ultimate = { workspace = true, features = ["tonic"] }
uuid = { workspace = true, optional = true }
http = { workspace = true }
futures = { workspace = true }
tokio = { workspace = true }
tower-service = { workspace = true }
tower-http = { workspace = true }
tonic = { workspace = true }
tonic-types = { workspace = true }
tonic-web = { workspace = true, optional = true }
tonic-reflection = { workspace = true, optional = true }
prost = { workspace = true }
prost-types = { workspace = true }
